html {
	width: 100%;
	min-height: 100%;
	margin: 0;
}
body {
    margin: 0 0 40px;
    /* bottom = footer height */
}

ul.dropdown-menu{
  position: relative;
  z-index: 99999;
  height: 100px;
  overflow: hidden;
  overflow-y:scroll;
}
.dropdown-menu li:hover{
  background-color: #428BCA;
  color: #fff;
}
p, .row{
	margin: 0;
}
.spa-description-summary{
	text-align: justify;
}
.bootstrap-tagsinput {

}
.label {
    line-height: 2 !important;
}

#header{
  		background-color: #428bca;
  		width: 100%;
  		height: 50px;
  	}

  	.sidenav {
  		height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#spa-search,#spa-results, #spa-description {
    transition: margin-left .5s;
}

ul.typeahead.dropdown-menu {
    max-height: 200px;
    overflow: auto;
}

.glyphicon.glyphicon-plus-sign{
    font-size: 35px;
}

.glyphicon.glyphicon-remove, .glyphicon.glyphicon-pencil, .glyphicon-map-marker, .glyphicon-chevron-down {
    font-size: 20px;
}
.spa-search-addbtn{
  margin-top: 30px;
}

.spa-search-searchbtn{
  margin-top: 100px;
  margin-bottom: 100px;
}
#spa-description-back{

}


#logospan{
  color: #fff;
  font-size: 30px;
}

#headerspan{
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
#spa-search #header{
  margin-bottom: 20px;
}

.nnuhlogo{
  background-image: url(img/NNUH.bmp);
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}
.uealogo{
  background-image: url(img/UEA.png);
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.spa-search-footbar {
    height: 40px;
    bottom: 0;
    overflow:hidden;
    position: absolute;
    width: 100%;
}